ENVIRONMENT=development
FRONTEND_URL=http://localhost:5173
DOMAIN=
DATABASE_URL=postgresql://postgres:foobar1234@localhost:5432/postgres
JWT_SECRET_ACCESS_TOKEN=
JWT_SECRET_REFRESH_TOKEN=

R2_PUBLIC_DOMAIN=
R2_BUCKET_NAME_PUBLIC=
R2_BUCKET_NAME_PRIVATE=
R2_ENDPOINT=
R2_ACCESS_KEY=
R2_SECRECT_ACCESS_KEY=
